/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    color: #017005;
    line-height: 1.8;
    background: url("/static/img/a11.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

/* Cabeçalho e navegação */
header {      
    background-color: #37db34;
    padding: 1px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

a.logo {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

ul.nav-list {
    list-style: none;
    display: flex;
}

ul.nav-list li {
    margin: 0 15px;
}

ul.nav-list a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

ul.nav-list a:hover {
    color: #09f741;
}

/* Main Content */
main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background: #fbfafd;
    border-radius: 50px;
    border: 8px solid #033c06;
    border-color: #033703;
    
}

h1 {
    color: #164e01;
    text-align: center;
    margin-bottom: 40px;
}

h2 {
    color: #0b0909;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    padding: 8px;
    border-radius: 25px;
    margin-bottom: 15px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #046904;
    outline: none;
}

/* Botão */
.button-container {
    display: flex;
    justify-content: center;
}

input[type="submit"] {
    background-color: #14901c;
    border: 3px solid #020107;
    border-radius: 10px;
    color: #0a0a0d;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}

input[type="submit"]:hover {
    background-color: #055208;
    border-color: #060507;
    transform: scale(1.05);
}

/* Rodapé */
.bottom-bar {
    background: #43d72fec;
    color: #000;
    text-align: center;
    padding: 9px;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    ul.nav-list {
        flex-direction: column;
        margin-top: 50px;
    }

    ul.nav-list li {
        margin: 20px 0;
    }
}
