* {
    margin: 0;
    padding: 0;
}

a {
    color: #efedf3;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #0ab121ec;
    height: 8vh;
}

main {
    background: url("/static/img/copf.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;        
        opacity: 10;
    }
    .mobile-menu {
        display: block;
    }
.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.banner{
    height: 92vh;
    background: linear-gradient( rgba(0,0,0,0.281), rgba(0,0,0,0.308));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.texto .titulo{
    color: #fee107f3;
    font-size: 100px;
    font-weight: 200;
}

.texto .paragrafo{
    color: #0e0e0ef8;
    font-size: 30px;
    font-weight: 200;
}
.texto .sub_titulo{
    color: #0c08f1;
    font-size: 40px;
    font-weight: 90;
}
.texto .botoes{
    margin-top: 50px;
}
.texto .botoes button{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: 0;
    margin: 0 10px;
    font-size: 15px;
    font-weight: 300;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}
.texto .botoes button.n-overlay{
    color: rgb(8, 247, 56);
    background: none;
    border: 2px solid rgb(8, 231, 60);
}
.texto .botoes button.n-overlay:hover{
    color: rgb(10, 245, 45);
    background-color: rgb(137, 234, 19);
}
.texto .botoes button.overlay{
    background: rgb(25, 211, 18);
    color: rgb(12, 1, 1);
}