/* Estilos para a barra superior */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007BFF; /* Azul */
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.top-bar .logo img {
    height: 40px; /* Ajuste o tamanho do logo conforme necessário */
}

.nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-list a:hover {
    text-decoration: underline;
}

/* Estilos para o rodapé */
.bottom-bar {
    text-align: center;
    padding: 10px 0;
    background-color: #007BFF; /* Azul */
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

/* Estilos para o botão */
.button {
    background-color: #007BFF; /* Azul */
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin: 5px 0;
}

.button:hover {
    background-color: #0056b3; /* Azul escuro */
}

/* Estilos para o carrossel */
.carousel-button {
    background-color: #007BFF; /* Azul */
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.carousel-button:hover {
    background-color: #0056b3; /* Azul escuro */
}

.carousel-container {
    /* Adicione estilos para o contêiner do carrossel aqui */
}

.carousel-slide {
    /* Adicione estilos para o slide do carrossel aqui */
}

.carousel-item {
    /* Adicione estilos para cada item do carrossel aqui */
}

.carousel-image {
    /* Adicione estilos para as imagens do carrossel aqui */
}
