/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    color: #2c3e50;
    text-align: center;
}

h1 {
    margin-top: 20px;
    font-size: 36px;
}

h2 {
    margin-top: 10px;
    font-size: 28px;
}

/* Estilos para a lista de produtos */
ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 800px;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li strong {
    font-size: 18px;
}

/* Estilos para o formulário de compra */
form {
    margin-top: 10px;
}

label {
    margin-right: 10px;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 8px 12px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

/* Estilos para o link "Voltar para Home" */
a {
    display: block;
    text-align: center;
    margin: 20px auto;
    font-size: 16px;
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
