<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="static/img/favicon.ico" />
        <title>Noticias</title>
        <link rel="stylesheet" type="text/css" href="/static/css/administracao.css" />
    </head>
    <body>
        <header>
        <nav>
            <a class="logo" href="/"><img src="/static/img/lg.png" alt=""> </a>
            <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
            </div>
            <ul class="nav-list">
            <li><a href="/noticias">Contato</a></li>
            </ul>
        </nav>
        </header>
        <main>
        </main>
    </head>
    <body>
        <footer class="bottom-bar">
            © 2024 Sua Empresa. Todos os direitos reservados.
        </footer>
        <script src="/app/static/js/mobile-navbar.js"></script>
    </body>
</html>