<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cadastro</title>
        <link rel="stylesheet" type="text/css" href="/static/css/confirma.css" />
    </head>

    <body>
        <header>
        <nav>
            <a class="logo" href="/">Itauna</a>
            <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
            </div>
            <ul class="nav-list">
            <li><a href="/administracao">Admin</a></li>
            <li><a href="/noticias">Contato</a></li>
            </ul>
        </nav>
        </header>
        <main>
            <h1>Cadastro Efetuado com sucesso</h1>
            <h1>Vá para a pagina inicial</h1>
        </main>
        <script src="/app/static/js/mobile-navbar.js"></script>
    </body>
</html>