<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
    <title>AtualizarDados</title>
    <link rel="stylesheet" type="text/css" href="/static/css/edit.css" />
    <script src="../../static/js/mobile-navbar.js"></script>
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/home">Itauna</a>
            <ul class="nav-list">
            <li><a href="/administracao">Admin</a></li>
            <li><a href="/noticias">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1><br> Atualizar Dados </h1>
            <div>
                <h2>Dados do Usuário:</h2>
                <p>Username: {{ user.username }} </p>
            </div>
            <form action="/edit" method="post">
              <label for="username">Novo Nome:</label>
              <input id="username" name="username" type="text"
                value="{{ user.username }}" readonly /><br>
              <label for="password">Senha:</label>
              <input id="password" name="password" type="password" required /><br>
            </br>
              <div class= "button-container">
                <input value="Salvar" type="submit" />
              </div>
            </form>
            % if user.isAdmin():
              <h4>Como super usuário, você pode editar qualquer um dos usuários cadastrados:</h4>
              <div id="editDisplay">
                  % for member in accounts:
                    <li>{{ member.username }}</li>
                  % end
              </div>
            % end
    </main>
    <footer class="bottom-bar">
      <!-- Conteúdo da barra, como links ou informações de copyright -->
       © 2024 Sua Empresa. Todos os direitos reservados.
  </footer>
</body>
</html>