<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membros</title>
    <link rel="stylesheet" type="text/css" href="/static/css/edit.css" />
    <script src="../../static/js/mobile-navbar.js"></script>
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/home">Itauna</a>
            <ul class="nav-list">
            <li><a href="/administracao">Admin</a></li>
            <li><a href="/noticias">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Minha página com interação de modelos</h1>
            <div>
                <h2>Dados do Usuário:</h2>
                <p>Username: {{ current_user.username }} </p>
            </div>
            <form action="/edit" method="post">
              <label for="username">Nome:</label>
              <input id="username" name="username" type="text"
                value="{{ current_user.username }}" readonly /><br>
              <label for="password">Senha:</label>
              <input id="password" name="password" type="password" required /><br>
            </br>
              <div class= "button-container">
                <input value="Editar" type="submit" />
              </div>
            </form>
    </main>
</body>
</html>