<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="static/img/favicon.ico" />
        <title>Pagina Inicial</title>
        <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
        <script src="/static/js/mobile-navbar.js" defer></script>
    </head>

    <body>
        <header>
        <nav>
            <a class="logo" href="/"> <img src="/static/img/lg.png" alt=""> </a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/produtos">produtos</a></li>
                <li><a href="/administracao">Admin</a></li>
                <li><a href="/noticias">Contato</a></li>
            </ul>
        </nav>
        </header>
        <main>
            <section class="banner">
                <div class="texto">
                   <h2 class="sub_titulo"><br><br><br><br><br><br><br><br><br><br><br><br><br>Junte-se! </h2>
                   <div class="botoes">
                       <button class="n-overlay"><a href="/login" >Login</a></button>
                       <button class="overlay"><a href="/cadastro" >Inscrever</a></button>
                       <footer class="bottom-bar">
                        <!-- Conteúdo da barra, como links ou informações de copyright -->
                         © 2024 Sua Empresa. Todos os direitos reservados.
                    </footer>
                    
                   </div>
                </div>
            </section>
        </main>
    </body>
</html>