<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="static/img/favicon.ico" />
        <title>Pagina Inicial</title>
        <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
        <script src="../../static/js/mobile-navbar.js"></script>
    </head>

    <body>
        <header>
        <nav>
            <a class="logo" href="/"> <img src="/static/img/lg.png" alt=""> </a>
            <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
            </div>
            <ul class="nav-list">
            <li><a href="/administracao">Admin</a></li>
            <li><a href="/noticias">Contato</a></li>
            </ul>
        </nav>
        </header>
        <main>
            <section class="banner">
                <div class="texto">
                    <h1 class = "titulo">
                        👨🏻‍🌾Cooperados👩🏻‍🌾
                    </h1>
                    

                   <h3 class="paragrafo">

                    <br>Na CoopItaúna, acreditamos no trabalho unido.<br> Somos mais que uma cooperativa; somos um só povo<br> "Gente precisa de gente para ser gente".<br> Nosso sucesso é coletivo, e acreditamos <br> que somente juntos conquistaremos o mundo.<br>

                    .</h3>
                   <h2 class="sub_titulo"><br>Junte-se a nós para transformar vidas e construir um futuro melhor! </h2>
                   <div class="botoes">
                       <button class="n-overlay"><a href="/login" >Login</a></button>
                       <button class="overlay"><a href="/cadastro" >Inscrever</a></button>
                   </div>
                </div>
            </section>
        </main>
    </body>
</html>