<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pagina Inicial</title>
        <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
        <script src="../../static/js/mobile-navbar.js"></script>
    </head>

    <body>
        <header>
        <nav>
            <a class="logo" href="/">Itauna</a>
            <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
            </div>
            <ul class="nav-list">
            <li><a href="/administracao">Admin</a></li>
            <li><a href="/noticias">Contato</a></li>
            </ul>
        </nav>
        </header>
        <main>
            <section class="banner">
                <div class="texto">
                   <h1 class="titulo">Criar um site incrível somente</h1>
                   <h2 class="sub_titulo">usando HTML & CSS puro</h2>
                   <div class="botoes">
                       <button class="n-overlay"><a href="/login" >Login</a></button>
                       <button class="overlay"><a href="/cadastro" >Inscrever</a></button>
                   </div>
                </div>
            </section>
        </main>
    </body>
</html>