<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="static/img/favicon.ico" />
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
        <script src="/static/js/mobile-navbar.js"></script>
    </head>
        <body>
            <header>
            <nav>
                <a class="logo" href="/home"> <img src="/static/img/lg.png" alt=""></a>
            </nav>
            </header>
            <main>
                <div id="login">
                    <form class="card" action="/login" method="post">
                        <div class="card-header">
                            <h2>Login</h2>
                        </div>
                        <div class="card-content">
                            <div class="card-content-area">
                                <label for="usuario">Usuário</label>
                                <input type="text" name="username" id="username" autocomplete="off">
                            </div>
                            <div class="card-content-area">
                                <label for="password">Senha</label>
                                <input type="password" name="password" id="password" autocomplete="off">
                            </div>
                        </div>
                        <div class="card-footer">
                            <input type="submit" value="Login" class="submit">
                            <!-- <a href="#" class="recuperar_senha">Esqueceu a senha?</a> -->
                        </div>
                    </form>
                </div>
            </main>
    </body>
</html>