<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/Login.css" />
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/home">
                <img src="/static/img/lg.png" alt="Logo">
            </a>
        </nav>
    </header>
    
    <main>
        <section id="login">
            <form class="card" action="/login" method="post">
                <div class="card-header">
                    <h2>Faça Login</h2>
                </div>
                <div class="card-content">
                    <div class="card-content-area">
                        <label for="username">Usuário</label>
                        <input type="text" name="username" id="username" autocomplete="off" required>
                    </div>
                    <div class="card-content-area">
                        <label for="password">Senha</label>
                        <input type="password" name="password" id="password" autocomplete="off" required>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" value="Login" class="submit">
                </div>
            </form>
        </section>

        <footer class="bottom-bar">
            © 2024 Sua Empresa. Todos os direitos reservados.
        </footer>
    </main>
</body>
</html>
