<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membros</title>
    <link rel="stylesheet" type="text/css" href="/static/css/membros.css" />
    <script src="../../static/js/mobile-navbar.js"></script>
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/home">Itauna</a>
            <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
            </div>
            <ul class="nav-list">
            <li><a href="/home">Início</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/administracao">Admin</a></li>
            <li><a href="/noticias">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Minha página com interação de modelos</h1>
            <div>
                <h2>Dados do Usuário:</h2>
                <p>Username: {{ current_user.username }} </p>
            </div>
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </main>
</body>
</html>