<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="static/img/favicon.ico" />
        <title>Noticias</title>
        <link rel="stylesheet" type="text/css" href="/static/css/noticias.css" />
    </head>

    <body>
        <header>
        <nav>
            <a class="logo" href="/"><img src="/static/img/lg.png" alt=""> </a>
        </nav>
        </header>
        <main>
        </main>
    </body>
    <footer class="bottom-bar">
        © 2024 Sua Empresa. Todos os direitos reservados.
    </footer>
</html>